@charset "UTF-8";

body{
    background-image: url('pacote-d013/imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   background-attachment: fixed;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
a > img{
   max-width: 40px;
   border-radius: 100%;
   padding: 8px;
}
div.celular > img{
    position: absolute;
    left: 40%;
    top: 8%;
    width: 230px;
}